body{
    width: 80%;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(60,60,75);
}

header{
    background-color: red;
    width: 100%;
    vertical-align: middle;
}

header h1:first-child{
    width: 10%;
}

header img{
    display: inline-block;
    text-align: left;
    margin: auto 2% auto 2%;
    width: 50px;
    vertical-align: bottom;
}

header span{
    vertical-align: middle;
}

header h1{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 50%;
    overflow: auto;
}

header nav{
    display: inline-block;
    vertical-align: bottom;
    width: 34%;
    padding: 0;
    margin: 0;
}

header ol{
    padding: 0;
    margin: 0;
}

header li{
    transition: 250ms;
    display: inline-block;
    width: 33.33%;
    background-color: rgb(225, 0, 0);
    font-weight: bolder;
    font-size: 1.1em;
    padding-top: 2px;
    border-bottom: transparent 2px solid;
}

header li:hover{
    transition: 250ms;
    border-bottom: black 2px solid;
}

header a{
    color: inherit;
    text-align: center;
}

main{
    width: 100%;
    background-color: lightgray;
    border-top: 10px black solid;
}

section{
    width: 100%;
}

h2{
    margin: 1% 0 1% 1%;
    padding: 0;
}

article{
    background-color: rgb(160, 160, 160);
    clear: both;
    overflow: auto;
    width: 28.33%;
    margin: 0.75% 1%;
    padding: 0 1.5% 1.5% 1.5%;
    display: inline-block;
}

article>img{
    width: 50%;
    float: right;
    margin-bottom: 0;
    margin-left: 3%;
    margin-top: 3%;
}

article p{
    margin-bottom: 0;
}

article p img{
    width: 17px;
    vertical-align: bottom;
}

article ol{
    margin: 0;
    list-style: none;
    padding: 0;
}

article li img{
    width: 4%;
}

